#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
.~lock*
/.coverage
/lib
/bin
/include
/local
/man
/logs
/samples
/libtorrent-code
/.cache/
.vscode
